In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split , GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import confusion_matrix , roc_auc_score , roc_curve
from sklearn.preprocessing import LabelEncoder

In [6]:
df = pd.read_csv("Desktop/nba_2013.csv")
df.head()

,player,pos,age,bref_team_id,g,gs,mp,fg,fga,fg.,...,drb,trb,ast,stl,blk,tov,pf,pts,season,season_end
0,Quincy Acy,SF,23,TOT,63,0,847,66,141,0.468,...,144,216,28,23,26,30,122,171,2013-2014,2013
1,Steven Adams,C,20,OKC,81,20,1197,93,185,0.503,...,190,332,43,40,57,71,203,265,2013-2014,2013
2,Jeff Adrien,PF,27,TOT,53,12,961,143,275,0.520,...,204,306,38,24,36,39,108,362,2013-2014,2013
3,Arron Afflalo,SG,28,ORL,73,73,2552,464,1011,0.459,...,230,262,248,35,3,146,136,1330,2013-2014,2013
4,Alexis Ajinca,C,25,NOP,56,30,951,136,249,0.546,...,183,277,40,23,46,63,187,328,2013-2014,2013

In [8]:
np.where(df["season"] != "2013-2014")

(array([], dtype=int64),)

In [9]:
df[["player" , "pos" , "g" , "gs" , "pts"]]

             player pos   g  gs   pts
0        Quincy Acy  SF  63   0   171
1      Steven Adams   C  81  20   265
2       Jeff Adrien  PF  53  12   362
3     Arron Afflalo  SG  73  73  1330
4     Alexis Ajinca   C  56  30   328
..              ...  ..  ..  ..   ...
476     Tony Wroten  SG  72  16   939
477      Nick Young  SG  64   9  1144
478  Thaddeus Young  PF  79  78  1417
479     Cody Zeller   C  82   3   490
480    Tyler Zeller   C  70   9   399

[481 rows x 5 columns]

In [11]:
X = df[["player" , "pos" , "g" ,"gs"]]
y = df[["pts"]]

In [19]:
encoder1 = LabelEncoder()
encoder2 = LabelEncoder()
X["player"] = encoder1.fit_transform(X["player"])
X["pos"] = encoder2.fit_transform(X["pos"])

<ipython-input-19-7856f065dd1d>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["player"] = encoder1.fit_transform(X["player"])
<ipython-input-19-7856f065dd1d>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X["pos"] = encoder2.fit_transform(X["pos"])

In [20]:
x_train , x_test , y_train , y_test = train_test_split(X, y ,test_size = 0.2 ,random_state = 101)

In [25]:
knn = KNeighborsRegressor(n_neighbors= 7)
knn.fit(x_train , y_train)
knn.score(x_test , y_test)

0.6708540116357915

In [31]:
for i in range(1,12,2):
    knn = KNeighborsRegressor(n_neighbors= i)
    knn.fit(x_train , y_train)
    print(i , knn.score(x_test , y_test))

1 0.384098862133342
3 0.6262859669560197
5 0.7163036665249289
7 0.6708540116357915
9 0.6711432281704753
11 0.66421855218314

In [32]:
knn = KNeighborsRegressor(n_neighbors= 5)
knn.fit(x_train , y_train)
knn.score(x_test , y_test)

0.7163036665249289